<!-- views/partials/footer.handlebars -->
<footer class="footer">
  <div class="row">
    <p>
      &copy; 2024 The Tech Word. All rights reserved.
      <br>
      Powered by <a href="https://github.com/leonhsu95">Leon Hsu</a>
    </p>
  </div>
</footer>
