<!-- views/layouts/main.handlebars -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>The Tech Word</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- FontAwesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
  <div class="container wrapper">
    <!-- Header Partial -->
    {{> header}}

  <!-- Flash Messages -->
    {{#if success_msg}}
      <div class="alert alert-success" role="alert">
        {{success_msg}}
      </div>
    {{/if}}

    {{#if error_msg}}
      <div class="alert alert-danger" role="alert">
        {{error_msg}}
      </div>
    {{/if}}

    {{#if error}}
      <div class="alert alert-danger" role="alert">
        {{error}}
      </div>
    {{/if}}

    <main>
      {{{body}}}
    </main>

    <!-- Footer Partial -->
    {{> footer}}

    <!-- Conditional Scripts -->
    {{#if loggedIn}}
      <!-- jQuery -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <!-- Bootstrap JS -->
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
      <!-- Custom JS -->
      <script src="/js/logout.js"></script>
    {{/if}}
  </div>
</body>
</html>
