<!-- views/login.handlebars -->
<h2 class="title pb-4">Log In</h2>
<form id="login-form" class="card-body">
  <div class="form-row">
    <label class="form-label" for="username-login">Username</label>
    <input id="username-login" name="username" type="text" autofocus class="form-input form-control" required />
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="password-login">Password</label>
    <input id="password-login" name="password" type="password" class="form-input form-control" required />
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
  <a class="btn btn-secondary login-link" href="/signup">Sign Up</a>
</form>

<script src="/js/login.js"></script>
